registry=https://registry.npmjs.org
always-auth=true
@glcp:registry=https://hpeartifacts.jfrog.io/artifactory/api/npm/glcp-npm/
//hpeartifacts.jfrog.io/artifactory/api/npm/glcp-npm/:_authToken=${GLCP_NPM_READ}
